.DS_Store
.venv/*
.venv/

# Large raw/processed datasets
data/processed/*
data/processed/
data/category_tree.csv
data/events.csv
data/item_properties_*.csv

# Python cache artifacts
__pycache__/
*.pyc
