.DS_Store

# Main Data Directory (Downloaded from: https://www.kaggle.com/datasets/retailrocket/ecommerce-dataset)
data/*
data/

# Documentation Directory for Planning and Reference
documentation/*
documentation/